build
src/parsing
cpp_modules/
test/examples/
test/*.json
/tmp/
/db/
/documents/*.aux
/documents/*.log
/documents/*.out
/documents/*.pdf
/documents/*.gz
dictionaries
private
/libcifio.so
/libguile-cifio.so
