build
src/parsing
cpp_modules/
test/examples/
test/*.json
test/*.svg
test/*.obj
test/test
/tmp/
/cache/
/db/
/documents/*.aux
/documents/*.log
/documents/*.out
/documents/*.pdf
/documents/*.gz
/documents/*_drawing.tex
dictionaries
private
/libcifio.so
/libguile-cifio.so
